---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="title-center">
				<h1 class="title">👾LGK36T👾</h1>
			</div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eius, dolorem vel sit voluptas nemo eaque eveniet aliquam, excepturi nam ullam tempora temporibus at nisi voluptate necessitatibus hic, aspernatur culpa?
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione tempore facilis, dolorum similique asperiores harum vitae fuga dolor consequuntur commodi blanditiis explicabo consectetur qui rem fugit fugiat iste repudiandae debitis?
			</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quaerat ad non hic officiis? Officiis totam dolor obcaecati dolorum iure excepturi ut. Nesciunt maxime, perspiciatis sapiente et aperiam asperiores aut!</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolorum, iusto voluptatum fuga autem pariatur neque consequuntur, tempore magni culpa dignissimos voluptas porro itaque? Nobis numquam at omnis incidunt quia..
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, pariatur. Reiciendis amet voluptatum omnis ab laudantium iure harum autem, dolor quasi aliquid, non officiis, eos nisi? Aliquid expedita modi quaerat.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.title-center {
		text-align: center;
	}
	.title-center .title {
		@media (max-width: 600px) {
			font-size: 3rem;
		}
	}
</style>
